.imgeing {
	width: 600px;
	height: 50px;
}
.wrapper {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	border-style: solid;
}
.pagePhoto {
	width: 150px;
	height: 150px;
	margin: 30px;
}
.adoutUser {
	margin-bottom: 15px;
}
.status {
	margin: 30px;
}
