.user {
	margin: 20px;
}
.img {
	width: 50px;
	height: 50px;
}
.button {
	width: 200px;
	height: 40px;
	background-color: teal;
	color: white;
	margin-left: 200px;
}
.cont {
	color: blue;
	width: 350px;
	height: 50px;
	background-color: crimson;
}
.thisPage {
	color: red;
}
.photo {
	width: 100px;
	height: 100px;
}
.button {
	margin: 10px 0px 30px;
	width: 100px;
	height: 30px;
	background-color: teal;
	color: white;
}
.content {
	display: grid;
	grid-template-columns: 2fr 10fr;
}
.img_and_bt {
	display: flex;
	flex-direction: column;
}
.data {
	padding: 5px;
}
